@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'react-resizable/css/styles.css';

:root {
	--background: #ffffff;
	--foreground: #171717;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	color: var(--background);
	background: var(--foreground);
	font-family: 'Rubik', sans-serif;
	overflow-x: hidden;
	overflow-y: scroll;
}

body::-webkit-scrollbar {
	width: 8px;
}

body::-webkit-scrollbar-track {
	background: transparent;
}

body::-webkit-scrollbar-thumb {
	background: rgba(255, 255, 255, 0.2);
	border-radius: 4px;
}

body::-webkit-scrollbar-thumb:hover {
	background: rgba(255, 255, 255, 0.4);
}

header {
	backdrop-filter: blur(8px); /* Для кроссбраузерности */
}

/* Стили для бокового навигационного меню */
nav.fixed {
	transform: translateY(-50%); /* Центрирование по вертикали */
}

.font-montserrat {
	font-family: 'Montserrat Alternates', monospace;
}

.gradient-text {
	background: linear-gradient(90deg, #ff8660 0%, #9a33ff 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.button {
	font-weight: 600;
	font-size: 18px;
	text-align: center;
	color: #161513;
	background: #ffffff;
	border-radius: 50px;
	max-width: 195px;
	height: 58px;
	padding: 0 12px;
	border: none;
	transition: all 250ms ease-in-out;

	&:focus {
		background: #161513;
		color: #ffffff;
		border: 2px solid #ffffff;
	}

	&:disabled {
		opacity: 0.5;
		cursor: not-allowed;
	}

	@media screen and (min-width: 768px) {
		font-size: 21px;
		max-width: 210px;
		height: 64px;

		&:hover {
			background: #161513;
			color: #ffffff;
			border: 2px solid #ffffff;
		}
	}
}

.custom-container {
	margin: 0 auto;
	padding-left: 16px;
	padding-right: 16px;

	@media screen and (min-width: 640px) {
		padding-left: 24px;
		padding-right: 24px;
	}
	@media screen and (min-width: 768px) {
		padding-left: 32px;
		padding-right: 32px;
	}
	@media screen and (min-width: 1024px) {
		padding-left: 40px;
		padding-right: 40px;
	}
	@media screen and (min-width: 1440px) {
		max-width: 1440px;
		padding-left: 80px;
		padding-right: 80px;
	}
}

.wrapper {
	@media screen and (min-width: 1024px) {
		max-width: 810px;
		margin: 0 auto;
	}
}

.section {
	padding: 40px 0px 40px 0px;
	@media screen and (min-width: 768px) {
		padding: 80px 0px 60px 0px;
	}
	@media screen and (min-width: 1024px) {
		padding: 100px 0px 100px 0px;
	}
	@media screen and (min-width: 1440px) {
		padding: 100px 0px 120px 0px;
	}
}

.section-component {
	padding-top: 60px;
	@media screen and (min-width: 1024px) {
		padding-top: 90px;
	}
}

.main-title {
	margin-bottom: 25px;
	font-weight: 600;
	font-size: 24px;
	font-family: 'Syne', sans-serif;
	line-height: 1.5;
	text-transform: uppercase;
	text-align: center;
	background: linear-gradient(180deg, #5badff 0%, #1373d1 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	@media screen and (min-width: 1024px) {
		font-weight: 800;
		font-size: 35px;
		margin-bottom: 55px;
	}
}

.header-link-hover {
	@apply hover:text-accentColor focus:text-accentColor transition-all duration-300 after:content-[''] after:absolute after:left-0 after:bottom-0 after:w-0 after:h-[2px] after:bg-accentColor after:transition-all after:duration-300 hover:after:w-full focus:after:w-full;
}

.link-hover {
	@apply hover:text-accentColor focus:text-accentColor transition-all duration-300;
}

.project-about-thumb {
	@apply flex justify-between items-center absolute bottom-0 translate-y-full transition-transform duration-200 py-2.5 px-6 w-full h-20 rounded-b-2xl bg-gray-800 bg-opacity-80;
}

.label {
	@apply flex flex-col font-medium text-lg lg:text-xl tracking-widest text-secondTextColor uppercase transition-all duration-300 ease-in-out;
}

.label-text {
	@apply h-6 transition-all duration-300 ease-in-out max-[360px]:text-sm group-hover:text-accentColor group-focus-within:text-accentColor max-[360px]:group-hover:text-[12px] max-[360px]:group-focus-within:text-[12px] group-hover:text-sm group-focus-within:text-sm;
}

.label-input {
	@apply w-full h-8 py-1 placeholder:text-dBorderColor outline-none bg-transparent border-b-2 border-b-secondTextColor transition-colors duration-300 ease-in-out focus:border-b-accentColor hover:border-b-accentColor group-focus-within:border-b-accentColor;
}

input:-webkit-autofill,
textarea:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px #171717 inset !important;
	box-shadow: 0 0 0px 1000px #171717 inset !important;
	-webkit-text-fill-color: #c5c5c5 !important;
	transition: background-color 9999s ease-in-out 0s;
}

/* Custom scroll
Chrome, Safari, Edge, Opera*/
.label-input::-webkit-scrollbar {
	width: 6px;
}

.label-input::-webkit-scrollbar-thumb {
	background-color: #888; /* slider color */
	border-radius: 10px;
}

.label-input::-webkit-scrollbar-thumb:hover {
	background-color: #5badff;
	cursor: pointer;
}

/* Firefox */
.label-input::-moz {
	scrollbar-width: thin;
	scrollbar-color: #888;
}

.label-input::-moz:hover {
	scrollbar-color: #5badff;
}

.custom-scrollbar::-webkit-scrollbar {
	width: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track {
	background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
	background: rgba(255, 255, 255, 0.2);
	border-radius: 4px;
	cursor: pointer;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
	background: rgba(255, 255, 255, 0.4);
}

.mobile-section-nav {
	backdrop-filter: blur(8px); /* Кроссбраузерный blur */
}

footer {
	backdrop-filter: blur(8px); /* Кроссбраузерный blur */
}

@keyframes shimmer {
	0% {
		background-position: -200%;
	}
	100% {
		background-position: 200%;
	}
}
.animate-shimmer {
	animation: shimmer 1.5s infinite;
}

/* Анимация мигания стрелки вниз */
@keyframes pulse-down {
	0% {
		transform: translateY(0);
		opacity: 0.7;
	}
	50% {
		transform: translateY(8px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 0.7;
	}
}
.animate-pulse-down {
	animation: pulse-down 1.5s ease-in-out infinite;
}

.swiper-pagination {
	bottom: 10px !important;
	display: flex;
	justify-content: center;
	align-items: center;
}
.swiper-pagination-bullet {
	width: 30px !important; /* w-8 */
	height: 4px !important; /* h-1 */
	background: #374151 !important;
	border-radius: 9999px !important; /* rounded-full */
	margin: 0 4px !important; /* mx-1 */
	transition: background-color 0.2s !important;
	opacity: 1 !important;
}
.swiper-pagination-bullet-active {
	width: 54px !important;
	transition: all;

	background: #5badff !important;
}

.loader-svg {
	width: 4rem;
	height: 4rem;
	animation: rotatePulse 2s linear infinite;
	transform-origin: center;
	filter: drop-shadow(0 0 8px hsl(213, 100%, 70%)) blur(0.3px);
}

.loader-circle {
	fill: none;
	stroke: hsl(213, 100%, 70%); /* совпадает с accentColor */
	stroke-width: 6;
	stroke-linecap: round;
	stroke-dasharray: 1, 200;
	stroke-dashoffset: 0;
	animation: dashGlow 1.6s ease-in-out infinite;
}

/* Анимация поворота */
@keyframes rotatePulse {
	100% {
		transform: rotate(360deg);
	}
}

/* Анимация штриха */
@keyframes dashGlow {
	0% {
		stroke-dasharray: 1, 150;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 90, 150;
		stroke-dashoffset: -35px;
	}
	100% {
		stroke-dashoffset: -125px;
	}
}

.react-resizable-handle {
	width: 20px;
	height: 20px;
	background: rgba(255, 255, 255, 0.4);
	border: 1px solid rgba(255, 255, 255, 0.6);
	opacity: 0.7;

	clip-path: polygon(100% 100%, 0% 100%, 100% 0%);
	/* Треугольник в правом нижнем углу */
}

.react-resizable-handle:hover {
	opacity: 1;
}
